	.taquin
	{
		margin-top: 10px;
		border: 1px solid rgba(255, 255, 255, .8);
		background: white;
		padding: 0;
		/* display: inline-block; */
		box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	}
	.piece
	{
		display: block;
		position: absolute;
		padding: 0;
		margin: 0;
		cursor: pointer;
		border: 1px solid #aaa;
		/* background-color: #aaa; */
		font-size: 20px;
		text-align: center;
	}

@media (min-width: 1200px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{

}
@media (min-width:768px)and (max-width:991px)
{

}
@media (max-width: 767px)
{

}
